################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dll
/src/.vs
/src/ManagerTask.Data/obj
/src/ManagerTaskService/obj/Debug
/src/ManagerTaskService.Tests/obj/Debug
/src/ManagerTask.Data/bin/Debug/net461
/src/ManagerTaskService/bin
/src/ManagerTaskService.Tests/bin/Debug
